In [1]:
import pandas as pd
import numpy as np
import re

### Формотирование файлов каждого года для того что бы соединить все в один файл для анализа и машинного обучения (все файлы делаем под один шаблон)

#### Константа для изменения каждого года

In [2]:
year = '22-23'

In [3]:
df = pd.read_excel('full_files/'+year+'.xlsx')

FileNotFoundError: [Errno 2] No such file or directory: 'full_files/22-24.xlsx'

#### Для чтения полного df

In [ ]:
pd.set_option('display.max_rows', 700)

In [ ]:
# df - просмотр с чем рабоем

#### Очистка колонок, название колонок, удаление лишних колонок, удаление первых строк, удаление полностью пустых строк

In [ ]:
df = df.iloc[:, 0:14]
df.columns = ['id', 'name_user', 'phone', 'city', 'addres', 'kids', 'status', 'source', 
                          'call', 'estimation', 'note', 'skip', 'old_call', 'old_note']
df = df.drop(['estimation', 'skip', 'old_call', 'old_note'], axis=1)
df = df[4:]

In [ ]:
df = df.drop(['id'], axis=1)
df = df.dropna(thresh=2)

In [ ]:
# df.head(600) - просмотр с чем рабоем

#### Просматривание колонок на уникальное значение и форматирвоание к единому шаблону

In [ ]:
df.city.unique()

#### Города

In [ ]:
df['city'] = df['city'].replace(['Старая Купавна ', 'СтараяКупавна', 'Старая купавна '],'Старая Купавна')
df['city'] = df['city'].replace(['Новая\nКупавна','Новая купавна'], 'Новая Купавна')
df['city'] = df['city'].replace(['г. Балашиха', 'Балашиха '],'Балашиха')
df['city'] = df['city'].replace('монино','Монино')
df['city'] = df['city'].replace('Элекктросталь','Электросталь')
df['city'] = df['city'].replace(' Кучино','Кучино')
df['city'] = df['city'].replace(['Железнодорожный ', 'Железнодорожная '],'Железнодорожный')
df['city'] = df['city'].replace('Бисерово ','Бисерово')
df['city'] = df['city'].replace('Обухово ','Обухово')
df['city'] = df['city'].replace('Кучино, Заря(основной)','Заря')
df['city'] = df['city'].replace('! Ногинск, Старая Купавна','Ногинск')
df['city'] = df['city'].replace('Шульгино, \n! Обухово','Шульгино')
df['city'] = df['city'].replace('Новое бисерово','Новое Бисерово')
df.city.value_counts()

#### Статус

In [ ]:
df.status.unique()

In [ ]:
df['status'] = df['status'].replace(['Новый ', 'новый', 'Новая ', 'Новывй'],'Новый')
df['status'] = df['status'].replace(['Постоянный ','постоянный','Поятоянный'], 'Постоянный')
df.status.value_counts()

#### Источник

In [ ]:
df.source.unique()

In [ ]:
df['source'] = df['source'].replace([' интернет', 'интернет','Интерент'],'Интернет')
df['source'] = df['source'].replace(['Группа ВК','вконтакте','В контакте','Вконтакте, заказала родитель','Контакт', 'вк', 'ВК'], 'Вконтакте')
df['source'] = df['source'].replace(['в сад приходил Олег','Знакомые Лизы','знакомые','Лена','Лиза', 'Дима', 'Тамара'],'Знакомые')
df['source'] = df['source'].replace(['Инстаграм','инстаграм','инстаграмм'],'Инстаграмм')
df['source'] = df['source'].replace(['Рекомендации','рекомндация','Подруга Алена5','Сосед Екатерина22','рекоминдация','рекомендация','Садик'],'Рекомендация')
df['source'] = df['source'].replace('авито','Авито')
df['source'] = df['source'].replace(['Выиграла в конкурсе','Конкурс вк', '1место '],'Конкурс')
df['source'] = df['source'].replace('Визитки','Визитка')
df['source'] = df['source'].replace('Авто','Машина')
df['source'] = df['source'].replace(['Подъезд','Стенд'],'Листовки')
df['source'] = df['source'].replace('Новый',np.nan)
df.source.value_counts()

### Звонок

In [ ]:
df.call.unique()

In [ ]:
df['call'] = df['call'].replace(['уежаю ', 'уезжают','уехали','бдут праздновать в дурго месте',
                                               'уезжает','Уезжаюь','Уезжайт', 'в этом году уезжают','Уезжают.',
                                               'Идут в гости.', 'Скорее всего уедут','Уезжают в этом году',
                                               'уезжют','Празднует с Алена5','заказали всместе с соседями'],
                                              'Уезжают')

df['call'] = df['call'].replace(['Заказала','заказала','заказал','закала','Заказал ','Заказала ',
                                               'Зкаазала', 'Закзал', 'заказали', 'Заказла', 'Заказл', 
                                               'Заказала вместе с Греховой', 'Просто вручить подарок, если будем рядом.', 
                                               'Объединилась с Дмитрием','Заказала. Очень не понравилось. Обещала скидку',
                                               'Заказала. Сказала, что быстро все прошло.', 'В кафе будет Дед',
                                               'Закзала','Записала'], 
                                              'Заказал')

df['call'] = df['call'].replace(['занято','не ответил','не отвечает','не доступен','не ответила',
                                               'анято','автоотвечик','сбросила','Занята','скинула', 
                                               'Абон. Не доступен ', 'Не взяли трубку', 'не взяла трубку', 
                                               'Не доступен','Аппарат выключен', 'абонент временно не доступен', 
                                               'Абонент недоступен','Не дозвонилась', 'аппарат выключен',
                                               'Не дозвонился', 'не дозвонился','не доступна','попробывать ещё раз позвонить',
                                               'Не взяла трубку','Сбросила','просила перезвонить, не взяла трубку Д',
                                               'занят','не дозвнился','просила перезвонить, не взяла Д',
                                               'Сбросил','не дозвонилась','автоответчик'],
                                              'Занято')

df['call'] = df['call'].replace(['думают','уточнит','думает','Думает','пока не думали','Думает ',
                                               'Напишет','Если что перезвонит','Перезвонит','Ответит 14 числа',
                                               'Отпишется если что ','Скинул цены','Пока не знаем ', 'перезвонит',
                                               'Звонил','пока не знают, уежают или нет', 'позвонил', 
                                               'пока не определились с датой, должны позвонить, не очень понравились актеры в 2016 году, думаю направить железку туда', 
                                               'Звонила', 'позвонил Наталье','Перезвонить 5 декабря', 
                                               'Перезвонить 10 декабря', 'Перезвонить вечером 4 декабря',
                                               'Перезвонит сама', 'Перезвонить 20 декабря ', 'Позвонить 28 ноября',
                                               'Подумает', 'Думает на счет дня','позвонят','Подумает, перезвонит сама',
                                               'Звонили Маргарите','звонок','Обсудит с мужем ','Позвонит завтра 9дек',
                                               'подумает Д','подумают Д','Сам перезвонит',
                                               'Обещал скидку 200 рублей, позвонить в пн','позвонят ',
                                               'Звонок','обсудит с супругой'],
                                              'Думают')

df['call'] = df['call'].replace(['заказали у других','ушли к конкурентам','Заказала других', 
                                               'Не понравилось. Заказали у других.', 'Заказали в другом месте',
                                               'Заказала в другом месте','заказала у других',
                                               'Снеачала заказала, а потом отменила','Заказала у других',
                                               'Заказывают у других','учавствуют в другом заказе'],
                                              'Ушли к конкурентам')

df['call'] = df['call'].replace(['номер не але','номер не обслуживается','Абонент в сети не зарегистрирован', 
                                               'номер не используется','Сменили номер', 'Номер не используется',
                                               'Номер временно заблокирован', 'номер не существует',
                                               'данный вид связи не доступен для абонента',
                                               'Обслуживание преостановлено'],
                                              'Номер заблокирован')

df['call'] = df['call'].replace(['Отменила','Передумала ','отказалась', 'Отказ', 'Отказалась', 
                                               'отказ', 'Отмена','Сначала заказала, потом отказалась. Позвонить в следующем году.  ', 
                                               'Отменила по семеным обстоятельствам',
                                               'Сначала заказал, потом отказался', 'Заказала, потом отказалась', 
                                               'Отмена. Сначала заказала, потом отказалась.', 
                                               'Сначала заказала, потом отказалась', 
                                               'Сначала заказала, потом отказался', 'Хочет Анжелу'],
                                              'Отменил')

df['call'] = df['call'].replace(['переехали','Переехали в Таганрог','Переехали в Москву',
                                               'Перехали в Москву','Переехали в другой город', 
                                               'Переехали в Москву, можно позвонить', 'Переехали.', 'переехали',
                                               'Переехали в Москву, но возможно приедут и тогда закажут',
                                               'переехали '],
                                              'Переехали')

df['call'] = df['call'].replace(['дети не хотят','Дети не хотят','выросли','вырос','выросли ',
                                               'Вырочли дети','Вырос ребенок', 'выросли дети', 
                                               'Не будут из-за ковида и выросли дети', 'Дети выросли', 
                                               'Вырасли дети', 'дети выросли', 'вырос ребенок', 
                                               'Николай вырос, софья заказала', 'ребенок вырок','Дети выросли.',
                                               'Больше не будут заказывать, выросли','Дети  выросли',
                                               'Дети выросли. Наша Снегурочка.', 'Скорее всего не будут. Выросли',
                                              ],
                                              'Выросли дети')

df['call'] = df['call'].replace(['не планируют','не будут','не будут в этом году','не получается',
                                               'пригласили на елки','финансы','сегодня','на', '!',
                                               'не будут заказывать','-','не будут ','не ответили','написал', 
                                               'написал', 'не будут ', 'сама играет снегурочку','Не Заказал ',
                                               'Не ответила ', 'Не отвечает ','Не ответил', 'Уже провели ярмарку',
                                               'Не ответила','не стал звонить','Не отвечает','Не интересует',
                                               'Не нужно', 'не решились', 'не будет заказывать', 
                                               'Не взяли трубку, отвечает автоответчик','абонент не доступен', 
                                               'абонент не доступен ', 'не будет в этом году заказывать', 
                                               'не будет в этом году заказывать','не будут заказывать в этом году',
                                               'в этом году не будут заказывать', 'звонили', 'звонила', 'Позвонил',
                                               'Не взяли трубку 2 раза','Не будут заказывать', 'Звонили', 
                                               'позвонила сама',  'Позвонила', 'позвонила ', 
                                               'Позвонила нам, если надумает, то закажет на 31 число, цены старой купавны +300 р', 
                                               'звонил', 'Не будет заказывать','На следующий год закажет', 
                                               'Не будет заказывать. Испугаляс ребенок', 'нет','не надо',
                                               'В этом году не будут','не планирует, если передумает. То позвонит',
                                               'второй ребенок маленький, боятся','Закажут в следущем году',
                                               'не планируют, но если передумает то позвонит','Не будет',
                                               'в этом году нет','Пока не планирует','Не планируют',
                                               'Виктория попросила цены, виктора не интересует Д',
                                               'не надо ', 'не будет','В следующем году будут заказывать',
                                               'елена не ответила, татьяна не будет','в следующем году',
                                               'дубль евгения6','не будут, не понравился дед мороз',
                                               'лучше не ехать','?','в следующем году будут',
                                               'не будут в этом году (ремонт)','для нас далеко',
                                               'Не будут в этом году ','заболели'],
                                              'Не будут(в этом году)')

df['call'] = df['call'].replace(['не звонил',' '], np.nan)

df['call'] = df['call'].replace(['дубльАнна30','Татьяна44','дубль с юлией 33',
                                               'Заказала Ольга58'], 
                                              'Дубль')

# df['call'] = df['call'].replace('заболели','Заболели')
df.call.unique()

In [ ]:
df.call.value_counts()

### Примечания - работать с ним не будем, потому что потом его не будем использовать

In [ ]:
df.note.unique()

### Проверка на повторение id

df.id.value_counts().loc[lambda x : x > 1]

len(df.id.value_counts().loc[lambda x : x > 1])

### Пока не трогаю id, стоит заняться в самом конце

## Разделение колонки с телефона и форматирование под единоую форму

In [ ]:
# df['phone'] - секретная информация)))

### Чистка номера от мусора и подготовка номера к разделению

In [ ]:
df['phone'] = df['phone'].astype(str)
df['phone'] = df['phone'].str.replace('*-***-***-**-**','***********', regex=True)
df['phone'] = df['phone'].str.replace('*-***-**-**-**','***********', regex=True)
df['phone'] = df['phone'].str.replace(';','', regex=True)
df['phone'] = df['phone'].str.replace(',','', regex=True)
df['phone'] = df['phone'].str.replace(')','', regex=True)
df['phone'] = df['phone'].str.replace('(','', regex=True)
df['phone'] = df['phone'].str.replace('!','', regex=True)
df['phone'] = df['phone'].str.replace('-','', regex=True)
df['phone'] = df['phone'].str.replace(' ','', regex=True)
df['phone'] = df['phone'].str.replace('  ','', regex=True)
df['phone'] = df['phone'].str.replace('\n','', regex=True)
df['phone'] = df['phone'].str.replace("'",'', regex=True)
df['phone'] = df['phone'].str.replace('‑','', regex=True)
df['phone'] = df['phone'].str.replace('-','', regex=True)
df['phone'] = df['phone'].str.replace('+','', regex=True)
df['phone'] = df['phone'].str.replace('-','', regex=True)
df['phone'] = df['phone'].str.replace('--','', regex=True)
df['phone'] = df['phone'].str.replace('дом','', regex=True)
df['phone'] = df['phone'].str.replace('Камил','', regex=True)
df['phone'] = df['phone'].str.replace('Андрей','', regex=True)
df['phone'] = df['phone'].str.replace('Радмила','', regex=True)
df['phone'] = df['phone'].str.replace('\u202a','', regex=True)
df['phone'] = df['phone'].str.replace('\xa0','', regex=True)
df['phone'] = df['phone'].str.replace('\u202c','', regex=True)

### Разделение номеров

In [ ]:
phone = []
for row in df['phone']:
    if not pd.isnull(row) and not row == 'nan':
        if len(row) == 11:
            row = row + ',0,0'
        elif len(row) == 22:
            row = row[:11] + ',' + row[11:] + ',0'
        else:
            row = row[:11] + ',' + row[11:22] + ',' + row[22:]
    else:
        row = '0,0,0'
    phone.append(row)
df['phone'] = phone

In [ ]:
df[['phone_1','phone_2']] = df['phone'].str.split(',',n=1,expand=True)
df[['phone_2','phone_3']] = df['phone_2'].str.split(',',n=1,expand=True)

In [ ]:
# df - просмотр с чем рабоем

### Изменение первого символа в номере

In [ ]:
def format_phone(df):
    phone = []
    for row in df:
        if row != '0':
            final_str = '8' + row[1:]
            phone.append(final_str)
        else:
            phone.append(np.nan)
    return phone

df['phone_1'] = format_phone(df['phone_1'])
df['phone_2'] = format_phone(df['phone_2'])
df['phone_3'] = format_phone(df['phone_3'])

In [ ]:
# df - просмотр с чем рабоем

### Проверка на правильность номеров по длине

In [ ]:
result = []
def chek_phone(df):
    for row in df:
        if not pd.isnull(row):
             if len(row) != 11:
                result.append(row)
    if len(result) > 0:
        print(f'{len(result)} - {result}')
    else:
        print(f'{df.name} - не найдено некорректных номеров')
    
chek_phone(df['phone_1'])
chek_phone(df['phone_2'])
chek_phone(df['phone_3'])

### Проверка на ошибка заполнения начала телефона

In [ ]:
df.loc[df['phone_1'] == '8an']

## Разделение пользователей

In [ ]:
df['name_user']

In [ ]:
for row in df['name_user']:
    if not pd.isna(row):
        for i in range(len(row)):
            if row[i] == '\n' and row[i-1] != ',':
                print(row + '\n')
            elif row[i] == ' ' and row[i-1] != ',':
                print(row + '\n')

In [ ]:
df['name_user'] = df['name_user'].str.replace('Светлана9\n! муж Алексей','Светлана,Алексей')
df['name_user'] = df['name_user'].str.replace('Олеся10  Елена36','Олеся,Елена')
df['name_user'] = df['name_user'].str.replace('! Вера5\nАнна13 Надежда8','Вера,Анна,Надежда')
df['name_user'] = df['name_user'].replace('Анна9   (подруга Вики)','Анна')
df['name_user'] = df['name_user'].replace('Ольга25 (главбух), Геннадий2 (директор)','Ольга, Геннадий')

df['name_user'] = df['name_user'].replace('Любовь \nАнна ВасильевнаМ.Р','Любовь,Анна,')
df['name_user'] = df['name_user'].replace('Анна9   (подруга Вики)','Анна')
df['name_user'] = df['name_user'].replace('Анна9   (подруга Вики)','Анна')

In [ ]:
for row in df['name_user']:
    if not pd.isna(row):
        for i in range(len(row)):
            if row[i] == '\n' and row[i-1] != ',':
                print(row + '\n')
            elif row[i] == ' ' and row[i-1] != ',':
                print(row + '\n')

In [ ]:
df['name_user']

In [ ]:
row_l = []
for row in df['name_user']:
    if not pd.isna(row):
        row_l.append(re.sub(r"\d+", r'',row).strip())
    else: 
        row_l.append(np.nan)
df['name_user'] = row_l

In [ ]:
# df['name_user'] = df['name_user'].replace('r"\d+"','')
df['name_user'] = df['name_user'].str.replace('(','', regex=True)
df['name_user'] = df['name_user'].str.replace(')','', regex=True)
df['name_user'] = df['name_user'].str.replace('\n','', regex=True)
df['name_user'] = df['name_user'].str.replace(',  ',',', regex=True)
df['name_user'] = df['name_user'].str.replace(', ',',', regex=True)
df['name_user'] = df['name_user'].str.replace('!',',', regex=True)

In [ ]:
df['name_user']

In [ ]:
df[['name_1','name_2']] = df['name_user'].str.split(',',n=1,expand=True)
df[['name_2','name_3']] = df['name_2'].str.split(',',n=1,expand=True)

### Анализ по строке в которой больше 1 человека

In [ ]:
df.loc[pd.isna(df['name_2']),'name_2'] = np.nan
df.loc[pd.isna(df['name_3']),'name_3'] = np.nan

In [ ]:
# df - просмотр с чем рабоем

Снала планировалось разделить строку имеющиего больше 1 имено на несколько строк, но было принято решение что это помешает при машинном обучение и создаться дубль, который задублирует результат

# Выделение возраста детей

In [ ]:
df['kids']

In [ ]:
f_ages = []
flag = False
for row in df['kids']:
    ages = []
    if not pd.isnull(row): # определяем пустоту
        ch = ''
        for char in str(row): # пробегаем буквы строки
            # берем значения только внутри скобок
            if char == '(':
                flag = True
                continue
            elif char == ')':
                flag = False
                if ch != '' and not flag:
                    ages.append(float(ch))
                    ch = ''
                continue
            if flag:
                if char == ',':
                    ch += '.'
                else:
                    ch += char
    if len(ages) == 0:
        f_ages.append(np.nan)
    else:
        f_ages.append(ages)
df['ages'] = f_ages

In [ ]:
df['ages']

### Средний возраст

In [ ]:
average_age = []
for row in df['ages']:
    if type(row) == type(list()): 
        average = float(round(sum(row) / len(row),2))
        average_age.append(average)
    else:
        average_age.append(np.nan)
df['avg_age'] = average_age
# df - просмотр с чем рабоем

### Переименование колонки

df.rename(columns={'call': 'call_'+year, 'note':'note_'+year, 'age':'age'+year},inplace=True)
df

df.to_excel('files_client/'+year+'.xlsx', index=False)